<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.bsru.apirat.apirat_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/marnaricon"
        android:label="มาน๊ะ"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowQR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Showinfo_Activty"
            android:screenOrientation="portrait" />
        <activity android:name=".Main_student_layout"></activity>
    </application>

</manifest>